<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index page</title>
  </head>
  <body>
    <h1>

      Quonam modo? Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba. Ita enim vivunt quidam, ut eorum vita refellatur oratio. Est igitur 
    </h1>
    <p>officium eius generis, quod nec in bonis ponatur nec in contrariis. Torquatus, is qui consul cum Cn. Non igitur potestis voluptate omnia dirigentes aut tueri aut retinere virtutem. Si enim ita est, vide ne facinus facias, cum mori suadeas. Summum ením bonum exposuit vacuitatem doloris; Quae cum magnifice primo dici viderentur, considerata minus probabantur.</p>
    <p>
      <form action="/post/new" method="post">
        <label for="">Title</label>
        <input type="text">
      </form>
    </p>


  </body>
</html>
